        html {
            font-family: sans-serif;
        }
        
        body {
            background-color: whitesmoke;
            background-image: url("assets/svg/path.svg");
            background-size: 120vw auto;
            background-position-x: -5vw;
            background-position-y: -5vw;
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        
        header,
        main {
            padding: 1rem 1rem 0 1rem;
        }
        
        header {
            margin-top: 1rem;
            text-align: center;
        }

        footer {
            padding: 1rem;
        }
        
        .my-name {
            margin-bottom: 0;
            margin-top: .5rem;
        }

        .headline {
            margin-top: .2rem;
            font-size: 1rem;
            font-weight: lighter;
            text-transform: uppercase;
        }

        .transparent-card {
            background: #FFFFFFAA;
            border: gray dotted;
            margin-bottom: 1rem;
        }
        

        .profile {
            text-align: center;
            margin-bottom: 1rem;
            padding: 1rem;
            box-sizing: border-box;
            border: unset;
        }

        .portrait {
            border-radius: 50%;
            width: 80%
        }

        .profile-text {
            font-size: 1.2rem;
        }

        .project {
            padding: 0rem;
        }
        
        .project-image {
            width: 100%;
            height: auto;
        }
        
        .project-title {
            text-align: center;
            margin-top: 0;
        }
        
        .project-text {
            padding: 1rem;
        }
        
        footer {
            background: #FFFFFFAA;
            color: gray;
            text-align: center;
            margin-top: auto;
        }
        
        @media only screen and (min-width: 500px) and (min-height: 600px) {

            /* header>h1 {
                line-height: unset;
                margin: unset;
                position: absolute;
                bottom: 0rem;
                right: 0;
                font-size: 14vw;
                z-index: -1;
            } */

            header {
                display: flex;
            }

            .my-name {
                font-size: 4rem;
            }

            main {
                margin: 0;
                box-sizing: border-box;
                height: 100vh;
                display: flex;
                align-items: flex-start;
                flex-wrap: nowrap;
                overflow-x: auto;
            }

            .transparent-card {
                flex: 0 0 auto;
                margin: 1rem;
            }
        

            .profile {
                width: 22rem;
            }

            .profile-image {
                width: 100%;
            }

            .profile-text {
                margin: 0;
                margin-left: 1rem;
            }

            .project {
                width: 18rem;
            }

            footer {
                display: none;
            }
        }