* {
  margin: 0;
}

html {
  font-family: system-ui, sans-serif;
}

body {
  background-color: whitesmoke;
  background-image: url("assets/svg/path_alt.svg");
  background-size: 120vw auto;
  background-position-x: -5vw;
  background-position-y: -5vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

a {
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}

a:hover {
  color: rgb(194, 13, 110);
}

article {
  background: rgba(255, 255, 255, 0.667);
}

article img {
  width: 100%;
}

.project-text {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
}

.project-title a:hover {
  border-bottom: solid deeppink;
}

header {
  font-size: 2rem;
}
