body {
    background-color: whitesmoke;
    background-image: url("assets/svg/path.svg");
    background-size: 120vw auto;
    background-position-x: -5vw;
    background-position-y: -5vw;
    margin: 0;
    font-family: sans-serif;
}

header {
    text-align: center;
}

.portrait {
    border-radius: 50%;
    width: 70vw;
    margin-top: 10vw;
    margin-bottom: 2vw;
}

.my-name {
    font-size: 13.47vw;
    line-height: 12vw;
    margin: 0;
}

.headline {
    margin-top: 0;
    margin-bottom: .2rem;
    font-size: 4.5vw;
    font-weight: lighter;
}

.links {
    font-size: 5vw;
    display: flex;
    justify-content: space-between;
    width: 86vw;
    margin: 0 auto 2rem auto;
    padding: 0 .25rem;
}

.links>a {
    color: deeppink;
}

.links>a:hover {
    color: rgb(194, 13, 110);
}

.headline>span::after {
    content: " / "
}

.headline>span:last-child::after {
    content: ""
}

main {
    padding: 0 1rem;
}

.project {
    background: rgba(255, 255, 255, 0.667);
    border: gray dotted;
    margin-bottom: 1rem;
}

.project-image {
    width: 100%;
    height: auto;
}

.project-title {
    text-align: center;
    margin-top: 0;
}

.project-title a {
    text-decoration: none;
    color: black;
}

.project:hover {
    border-color: deeppink;
}

.project-title a:hover {
    border-bottom: solid deeppink;
}

.project-text {
    padding: 1rem;
}

@media only screen and (min-width: 870px) {
    body {
        display: flex;
        padding: 2rem;
    }

    header {
        /* width: 12rem; */
        max-width: 22rem;
    }

    .portrait {
        width: 100%;
        margin: 0;
    }

    .header-text {
        /* -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
        -webkit-text-orientation: mixed;
                text-orientation: mixed;
        text-align: right; */
        /* transform: rotate(90deg) */

    }

    .my-name {
        display: inline;
        font-size: 7rem;
        line-height: 6.7rem;
    }

    .headline {
        margin: 0;
        text-align: right;
        font-size: 2rem;
        width: 100%;
    }

    .headline>span {
        display: block;
        text-align: center;
    }

    .headline>span:nth-child(1) {
        font-size: 3.7rem;
        line-height: 3.4rem;
    }

    .headline>span:nth-child(2) {
        font-size: 4.43rem;
        line-height: 4.2rem;
    }

    .headline>span:nth-child(3) {
        font-size: 3.17rem;
        line-height: 2.9rem
    }

    .headline>span::after {
        content: " "
    }

    .links {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.27rem;
        padding: 0 .25rem;
    }

    main {
        margin-left: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .project {
        margin-right: 1rem;
        width: 20rem;
    }
}